<div class="well well-sm">
  <span class="badge pull-right"><%= retweet_count %></span>
  <span><a href="https://twitter.com/<%= user.name %>"><%= user.name %></a></span>
  <div><%= text %></div>
</div>
